name: Build ROM CI
 
on:
   workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: sudo apt-get install nasm gcc binutils
      
      - name: Make ROM
        run: make format && make build
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rom
          path: bios.rom
      - name: Clean project
        run: make clean
